.glav.container
    .row.glav__main
        .main
            .main__info
                p.discount__info 50%
                .main__icons
                    a(href="#")
                        span.main__icon.icon__like
                    a(href="#")
                        span.main__icon.icon__bag
            .main__content
                img(src="images/clock 1.png", alt="clock")
                .main__content-info
                    p.main__content-title Fantastic Style
                    p.main__content-desc 1 128 000 UZS
        .main__next
            .main__other
                .main__other-info
                    p.discount__info 50%
                    img(src="images/clock 2.png" alt="clock").main__other-img
                    .main__icons.main__icons-other
                        a(href="#")
                            span.main__icon.icon__like
                        a(href="#")
                            span.main__icon.icon__bag
                .main__other-desc
                    p.main__content-title Fantastic Style
                    p.main__content-desc 1 128 000 UZS
            .main__other
                .main__other-info
                    p.discount__info 50%
                    img(src="images/clock 2.png" alt="clock").main__other-img
                    .main__icons
                        a(href="#")
                            span.main__icon.icon__like
                        a(href="#")
                            span.main__icon.icon__bag
                .main__other-desc
                    p.main__content-title Fantastic Style
                    p.main__content-desc 1 128 000 UZS
